@{
    ViewData["Title"] = "Angel Esaú Flores Bonilla";
}

<div class="text-center">
    <h1 class="display-4">Hola Buenas Tardes, Salu2.</h1>
   <p> Mis videojuegos favoritos son The Last of Us y Fallout 4 </p>
</div>
